$font-pink:#F56262;
$bg-pink:#B45050;
$bg-black:#1A0909;


$offsetForURLBar: 200px;

@mixin for-sm-screen {
    @media screen and (max-width: 768px) {
        @content
    }
}


body{
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 4rem;
    @include for-sm-screen{
        font-size: 3rem;
    }
}
h2{
    font-size: 3rem;
    margin-bottom: 50px;
    @include for-sm-screen{
        font-size: 2rem;
    }
}
h3{
    font-size: 2rem;
    @include for-sm-screen{
        font-size: 1rem;
    }
}


