@use 'base' as *;


.page-container{
    height: 100vh;
    overflow: hidden;
    background: $bg-black;
}

.welcome-content{
    width: 100vw;
    height: 100vh;
    background: $bg-black;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        color: $font-pink;
        font-size: 3.5rem;
        visibility: hidden;
        @include for-sm-screen{
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

.social-list {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    @include for-sm-screen{
        justify-content: center;
    }

    i {
        font-size: 3rem;
        color: $font-pink;
    }
}

header {
    background-color: $bg-black;
    width: 100vw;
    height: 100vh;
    position: relative;
    a {
        color: $font-pink;
    }

    .hero{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2rem;
        width: 60%;
        @include for-sm-screen{
            margin-left: 0;
            width: 100%;
        }
    }

    h1 {
        visibility: hidden;
        color: $font-pink;
       @include for-sm-screen{
        width: 300px;
        margin: 0 auto;
        text-align: center;
        line-height: 3.5rem;
       }
        
    }
    .job-title{
        visibility: hidden;
        font-size: 3rem;
        margin-top: 1rem;

        @include for-sm-screen{
            font-size: 2rem;
            text-align: center;
        }
    }
    .desc{
        visibility: hidden;
        font-size: 2rem;
        margin-top: 1rem;
        @include for-sm-screen{
            font-size: 1rem;
            width: 75%;
            margin: 1rem auto;
            line-height: 1.2rem;
            text-align: center;
        }
    }

    
    nav{
        @include for-sm-screen{
            position: fixed;
            top: 0;
            right: -100%;
            width: 100vw;
            height: calc(100vh + $offsetForURLBar);
            background-color: $bg-pink;
            z-index: 100;
            transition: .3s ease-in;

            &.active{
                right: 0;
            }
        }


        ul {
            height: 150px;
            color: $font-pink;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2.5rem;

            @include for-sm-screen{
                flex-direction: column;
                justify-content: flex-start;
                padding-top: 5rem;
            }
        }
        li {
            visibility: hidden;
        }
        a {
            @include for-sm-screen{
                color: #fff;
            }
        }
       
    }

    .social-list {
        i {
            visibility: hidden;
        }
    }
    
   
}



.hamburger{
    display: none;

    @include for-sm-screen{
        visibility: hidden;
        display: flex;
        position: fixed;
        top: 30px;
        right: 30px;
        justify-content: center;
        align-items: center;
        gap:5px;
        flex-direction: column;
        width: 30px;
        z-index: 1000;
       
        .bar{
            width: 100%;
            height: 5px;
            background: $font-pink;
            transition: .3s ease-in;
        }

        &.active{
            .bar{
                background-color: #fff;
              &:nth-child(2){
                opacity: 0;
              }
              &:first-child{
                transform: translateY(10px) rotate(-45deg);
              }
              &:last-child{
                transform: translateY(-10px) rotate(45deg);
              }
            }
        }

    }
}







#about{
    background: $bg-pink;
    padding: 130px 0;
    @include for-sm-screen{
        padding: 100px 0; 
    }


    h2{
        text-align: center;
    }
    

    #about-me{

        font-size: 1.5rem;
        line-height: 2.5rem;
        @include for-sm-screen{
            font-size: 1rem;
            line-height: 1.5rem;
        }
        .container{
            width: 80%;
            // margin-left: 3rem;
            @include for-sm-screen{
               width: 95%;
                
            }
        }
        p{
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    #skils{
        margin-top: 5rem;
       
        ul{
            display: flex;
            gap: 2rem;
            margin-left: 2rem;

            i {
                font-size: 3rem;
                color: black;
            }
        }
       
    }

}

#projects{
    background: $bg-black;
    padding: 130px 0;
    @include for-sm-screen{
        padding: 100px 0; 
    }

    h2{
        color: $font-pink;
        text-align: center;
    }

    .project{
        width: 80%;
        border: 2px solid $font-pink;
        border-radius: 2rem;
        padding: 2rem;
        margin: 0 auto;
        margin-bottom: 3rem;
        transition: .3s;

        &:hover{
            transform: scale(1.05);
        }
        .project-content{
            display: flex;
            gap: 3rem;

            @include for-sm-screen{
                flex-direction: column;
            }

            img{
                margin: 2rem;
                width: 40%;
                @include for-sm-screen{
                    margin: 0;
                    width: 100%;
                }
            }
            h3{
                color:$font-pink;
                margin-bottom: 2rem;
            }
            li{
                &::before{
                    content: "";
                    background-image: url("../images/rocket-solid.svg");
                    display: inline-block;
                }
                // list-style: url("../images/address-card-solid.svg");
            }

        }

        .icons {
            @include for-sm-screen{
                text-align:right;
            }
            i {
                color: $font-pink;
                margin-right: 1rem;
                font-size: 2rem;
            }
        }
       
    }
}

#blogs{
    position: relative;
    background: $bg-pink;
    padding: 130px 0;
    @include for-sm-screen{
        padding: 100px 0; 
    }
    h2{
        text-align: center;
    }
    .article-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }


   article{
    border: 1px solid #fff;
    padding: .5rem;
    width: 360px;
    transition: .3s;
    @include for-sm-screen{
       width: 90%;
       margin: 0 auto;

    }

    &:hover{
        transform: scale(1.1);

    }

    img{
        width: 100%;
    }
    h3{
        font-size: 1.5rem;
        margin: .8rem 0;
    }
    .article-content{
        padding: 1.2rem;
    }
   }

   .read-more-article{
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    cursor: pointer;
   }

  
}


#contact{
    background: $bg-black;
    padding: 130px 0;
    @include for-sm-screen{
        padding: 100px 0; 
    }
    h2{
        color: $font-pink;
        text-align: center;
    }
    
   
}

footer{
    background: $bg-pink;
    text-align: center;
    padding: 1rem 0;
}