@use "../../styles/main.module" as *;

.aboutMe{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;



    .content {
        display: flex;
        gap: 2rem;
        @include for-sm-screen{
        flex-direction: column ;
        align-items: center;
        }
    }

    p {
        font-size: 1.5rem;
        margin-bottom: .8rem;
        line-height: 1.1;

        @include for-sm-screen{
            font-size: 1rem;
            line-height: 1;
            // text-align: center;
            }
    }

    img {
        border-radius: 1rem;
        object-fit: cover;
        object-position: left;
    }
}