@use "../../../styles/main.module" as *;
@use "../../../styles/variables.module" as v;

.blogCard {
    border: v.$PINK_PRIMARY 1px solid;
    padding: 1rem;
    border-radius: 1rem;
    margin: 40px auto;
    width: 400px;

    @include for-sm-screen{
        width: 300px;
    }

}

.imageContainer{
    position: relative;
    height: 200px;

    @include for-sm-screen{
        height: 180px;
    }
}