.projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        text-align: center;
    }
}

.cardList {
    display: flex;
    gap: 1.5rem;
    overflow-x: scroll;
}

